<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heyou.dao.airOrder.AirTypeReleatedInfoDAO">


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, air_ticket_id AS airTicketId, third_sub_order_no AS thirdSubOrderNo, sub_price AS subPrice, crew_type AS crewType
    </sql>

    <select id="getThirdOrderNo" resultType="java.lang.String">
		SELECT atri.`third_sub_order_no`
		FROM air_order_info aoi LEFT JOIN air_type_releated_info atri
		ON aoi.`id` = atri.`air_order_id`
		WHERE aoi.`order_no` = #{orderNo}
	</select>

</mapper>
